.header-nav{
    background-color: FFFFFF;
}
.slider-bg-info{
    background-color: #FCEAE8;
}
.panda-btn{
    background-color: #FF3082;
}
.panda-btn-buy-now{
    background-color: black;
}
.categories img{
    width: 100px;
}
.bags{
    background-color: #FF3082;
}
.Subscribe{
    background-color: #FEF2F2;
}